<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">

<head lang="pl">
  <meta charset="UTF-8">
  <title>Gra</title>
</head>

<body>
<div class="row" layout:fragment="content">
  <h4 class="indigo-text center">Odgadnij słowo</h4>
  <form action="/" method="get" class="col s12">
    <div class="row center">
      <div class="input-field col s6 offset-s3">
        <i class="mdi-action-search prefix"></i>
        <input id="input-11" name="search" type="text" class="validate" maxlength="1" size="1"/>
        <i class="mdi-action-search prefix"></i>
        <input id="input-12" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-13" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-14" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-15" name="search" type="text" class="validate" maxlength="1" size="1" />
        <button>Zatwierdz</button>
      </div>
    </div>
  </form>
  <form action="[CONTROLLER]" method="get" class="col s12">
    <div class="row center">
      <div class="input-field col s6 offset-s3">
        <i class="mdi-action-search prefix"></i>
        <input id="input-21" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-22" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-23" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-24" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-25" name="search" type="text" class="validate" maxlength="1" size="1" />
        <button>Zatwierdz</button>
      </div>
    </div>
  </form>
  <form action="[CONTROLLER]" method="get" class="col s12">
    <div class="row center">
      <div class="input-field col s6 offset-s3">
        <i class="mdi-action-search prefix"></i>
        <input id="input-31" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-32" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-33" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-34" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-35" name="search" type="text" class="validate" maxlength="1" size="1" />
        <button>Zatwierdz</button>
      </div>
    </div>
  </form>
  <form action="[CONTROLLER]" method="get" class="col s12">
    <div class="row center">
      <div class="input-field col s6 offset-s3">
        <i class="mdi-action-search prefix"></i>
        <input id="input-41" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-42" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-43" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-44" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-45" name="search" type="text" class="validate" maxlength="1" size="1" />
        <button>Zatwierdz</button>
      </div>
    </div>
  </form>
  <form action="[CONTROLLER]" method="get" class="col s12">
    <div class="row center">
      <div class="input-field col s6 offset-s3">
        <i class="mdi-action-search prefix"></i>
        <input id="input-51" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-52" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-53" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-54" name="search" type="text" class="validate" maxlength="1" size="1" />
        <i class="mdi-action-search prefix"></i>
        <input id="input-55" name="search" type="text" class="validate" maxlength="1" size="1" />
        <button>Zatwierdz</button>
      </div>
    </div>
  </form>
</div>
</body>

</html>